# 03_container.ipynb

- 데이터 여러개를 한번에 저장하는 공간

## 리스트 (List)

In [9]:
numbers = [10, 20, 30, 40, 50]

# index 는 0 부터 (리스트 길이 -1) 까지
numbers[0]
numbers[2]
# -1 ~ -리스트길이
numbers[-1]
numbers[-2]

# 불가능 (인덱스 범위 잘못된)
# numbers[5]
# numbers[-6]

40

In [ ]:
numbers = [10, 20, 30, 40, 50]

# 슬라이싱 [x:y] -> x부터 y전까지
numbers[0:3]  # 0~2
numbers[1:1]  # x

numbers[0:5]  # 0~4 : 전체
numbers[:3]   # 비어있음: 끝부터
numbers[2:]   # 2부터
numbers[:]

# 값은 같다
numbers == numbers[:]
# 같은 존재냐?
numbers is numbers[:]

False

In [ ]:
# 리스트 수정
numbers = [10, 20, 30, 40, 50]

# 특정 index 의 데이터 바꾸기
numbers[2] = 300
numbers[-1] = 500
print(numbers)

# 리스트에 데이터 추가하기
numbers.append(60)
print(numbers)

# 리스트의 데이터 삭제하기
numbers.pop(3)
print(numbers)

[10, 20, 300, 40, 500]
[10, 20, 300, 40, 500, 60]
[10, 20, 300, 500, 60]

## 범위(Range)

In [43]:
# range 는 처음부터 마지막-1 까지의 정수만을 의미
r1 = range(1, 10)
# 눈으로 보려면, 리스트로 바꿔줘야함
print(list(r1))

# 시작숫자 x -> 0부터 시작
r2 = range(5)
print(list(r2))

# step 개념
r3 = range(0, 10, 2)
print(list(r3))

# 음수 step(뒤로가기) -> 시작, 끝, 방향+스텝
r4 = range(5, 0, -1)
print(list(r4))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
[0, 2, 4, 6, 8]
[5, 4, 3, 2, 1]

## Dict (딕셔너리)
| key - Value
- JSON 의 뜻은 JavaScript Object Notation 의 줄임말
    - JS의 Object자료형 식 표기법 (" 써야함)
- Python 에는 Dict 자료형

In [51]:
# 생성
me = {
    'name': 'neo',
    'age': 20,
    'is_hungry': True,
    'height': 123.4,
    'skills': ['n8n', 'sql', 'python']
}

In [52]:
# 접근 -> 대괄호 안에 key 를 쓴다.
me['name'], me['age']

# 'python' 에 접근
me['skills'][2]

'python'

In [55]:
# 변경
me['name'] = '김새싹'

me

{'name': '김새싹',
 'age': 20,
 'is_hungry': True,
 'height': 123.4,
 'skills': ['n8n', 'sql', 'python']}